* {

    box-sizing: border-box;
}

/* Disable Scrollbar for Firefox */
html {
    scrollbar-width: none;
}

/* Disable Scrollbar for Chrome */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #F0F0F0;
    background-color: #d13639;
    margin: 0 auto;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #ddd;
}

p {
    font-size: 1em;
    text-align: center;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

header {
    z-index: 100;
    display: none;
    position: fixed;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.main-nav-items {
    height: 82px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-nav-item {
    width: 100%;
    text-align: center;
    margin: 0 1em;
    border-bottom: 1px solid transparent;
}

.main-nav-item a {
    display: block;
    padding: 2em 0;
}

.main-nav-item:hover {
    border-bottom: 1px solid #8b2ab4;
    transition: border-bottom 200ms linear;
}

.main-nav-item:focus-visible {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.hero {
}

.hero-title {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 10em;
}

.hero-subtitle {
    color: #2D2D2D;
    font-size: 4em;
    padding: 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.hero-graphic-container {
    display: flex;
    height: 350px;
    max-width: 600px;
    border-radius: 10px;
}


.hero-graphic {
    border-radius: 10px
}

.projects {
    width: 90%;
    letter-spacing: 2px;
}

.projects-title {
    text-align: left;
    margin-bottom: -70px;
    font-size: 8em;
}

.project {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    background-color: #2D2D2D;
    padding: 6%;
    height: 600px;
    margin-top: 30px;
    
}

.project-title {
    font-size: 3em;
    text-align: center;
}

.project-image {
    height: 50%;
}

.project-description {
    letter-spacing: normal;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 4.5em;
    }

    p {
        font-size: 1.2em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .hero-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

