* {
    box-sizing: border-box;
    text-align: center;
}

/* Disable Scrollbar for Firefox */
html {
    scrollbar-width: none;
}

/* Disable Scrollbar for Chrome */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #ddd;
}

p {
    font-size: 1.2em;
    text-align: center;
    padding: 0 1.5em;
}

ul {
    padding: 0;
    margin: 0;
}

header {
    z-index: 100;
    display: none;
    position: fixed;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.main-nav-items {
    height: 82px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-nav-item {
    width: 100%;
    text-align: center;
    margin: 0 1em;
    border-bottom: 1px solid transparent;
}

.main-nav-item a {
    display: block;
    padding: 2em 0;
}

.main-nav-item:hover {
    border-bottom: 1px solid #8b2ab4;
    transition: border-bottom 200ms linear;
}

.main-nav-item:focus-visible {
    outline: none;
}

.hero-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.hero {
}

.hero-title {
    margin: 0;
    text-align: center;
    font-weight: 400;
}

.hero-subtitle {
    padding: 0;
    text-align: center;
    font-weight: 100;
    margin: 0;
}

.hero-graphic-container {
    display: flex;
    height: 350px;
    max-width: 600px;
    border-radius: 10px;
}


.hero-graphic {
    border-radius: 10px
}

#projects {
    overflow: visible;
}
.sticky {
    height: calc(100vh - 82px);
    opacity: 0;
    position: sticky;
    top: 82px;
    left: 0;
    z-index: -10;
}

.video-container {
    position: relative;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.section-content {
    margin-top: -40vh;
}

.headline-wrapper {
    font-size: 5em;
}

.sticky-wrap-growth {
    height: 100vh;
}

.tile-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0em auto;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 1em;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-container {
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    gap: 1.5em;
    padding: 1em 1.5em;
    align-items: center;
}

.button-container img {
    height: 32px;
    border-radius: 0;
}   


.button-link {
    font-family: 'Roboto', sans-serif;;
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
    color: #111;
}



@media (min-width: 1024px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3.5em;
    }

    p {
        font-size: 1.6em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .hero-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tile-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2em;
    }

    .button-container {
        padding: 1em;
        width: 100%;
        justify-content: center;
        gap: 0;
    }

    .buttons-container {
        flex-direction: row;
        justify-content: center;
    }
}

