//Fonts
$font-stack: 'Roboto', sans-serif;
$h1-size: 3em;
$link-size: 1em;
$text-size: 1.2em;

$h1-size-large: 5em;
$link-size-large: 2em;
//Dimensions
$header-padding: 2em 0;

$header-padding-large: 0.7em;
//Colors
$background: #f8fffc;
$on-background: #111;
$secondary: #defff0;
$on-primary: #fff;

//Other
$shadow: 0px 0px 20px black;