//Fonts
$font-stack: 'Roboto', sans-serif;
$h1-size: 3.5em;
$link-size: 1em;
$text-size: 1.2em;

$h1-size-large: 5em;
$link-size-large: 2em;
//Dimensions
$header-padding: 2em 0;

$header-padding-large: 0.7em;
//Colors
$secondary: #300000;
$on-primary: #fff;