@import '../utilities/variables';


* {
    box-sizing: border-box;
    color: #111;
    text-align: center;
}

body {
    font-family: $font-stack;
    color: $on-primary;
    background-color: $background;
    margin: 0 auto;
    padding-bottom: 1em;
}

section {
    margin: 0 auto 4em;
    max-width: 90%;
}

a {
    font-family: $font-stack;
    font-size: $link-size;
    font-weight: 300;
    text-decoration: none;
    color: $on-background;
}

h1, h2 {
    color: $on-background;
    margin: 0 0 0.8em;
}

h1 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-size: $h1-size;
}

h2 {
    margin-bottom: 1em;
    font-family: 'Noto Serif JP', serif;
    font-size: $h2-size;
}

h3 {
    margin: 0;
    margin-bottom: 1em;
    font-size: $h3-size;
}

p {
    font-family: 'Noto Serif JP', serif;
    font-size: $text-size;
    line-height: $text-size + 0.5em;
    text-align: center;
    padding: 0 3em;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    margin: 20px 0;
    background-color: black;
    border-right: 4px rgba(0, 0, 0, 0) solid;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: aquamarine;
    border-right: 4px rgba(0, 0, 0, 0) solid;
    background-clip: padding-box;
}

.hero-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    font-family: 'Noto Serif JP', serif;

    p {
        margin-top: 1em;
    }
}

.hero-title {
    margin: 0
}

.hero-subtitle {
    font-family: $font-stack;
}

.hero-graphic-container {
    display: flex;
    height: 350px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: $shadow;
}


.hero-graphic {
    border-radius: 10px
}

.tile-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0em auto;
}
.icon {
    width: 32px;
    height: 32px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-container {
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    gap: 2em;
    padding: 1em;
    padding-left: 4em;
    align-items: center;
    
    img {
        height: 32px;
        border-radius: 0;
    }   
}

.button-link {
    font-family: $font-stack;
    font-size: $link-size-btn;
    font-weight: 300;
    text-decoration: none;
    color: $on-background;
}



@media (min-width: 1024px) {
    h1 {
        font-size: $h1-size-large;
    }

    h2 {
        font-size: $h2-size-large;
    }

    p {
        font-size: $text-size-large;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        border-right: 6px rgba(0, 0, 0, 0) solid;
    }
    
    ::-webkit-scrollbar-thumb {
        border-right: 6px rgba(0, 0, 0, 0) solid;
    }

    .hero-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .tile-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2em;
    }

    .button-container {
        padding: 1em;
        width: 100%;
        justify-content: space-evenly;
        gap: 0;
    }

    .buttons-container {
        flex-direction: row;
        justify-content: center;
    }
}