@import '../utilities/variables';

ul {
    padding: 0;
    margin: 0;
}

.main-nav__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-nav__item {
    color: #fff;
    width: 100%;
    text-align: center;

    &:hover {
        background-color: rgba(90, 0, 0, 0.403);
        transition: background-color 200ms linear;
    }

    a {
        font-family: $font-stack;
        font-size: 2em;
        font-weight: 100;
        display: block;
        text-decoration: none;
        color: #eee;
        padding: $header-padding;
    }
}