@import '../utilities/variables';

ul {
    padding: 0;
    margin: 0;
}

.main-nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-nav-item {
    color: $on-primary;
    width: 100%;
    text-align: center;

    a {
        display: block;
        padding: $header-padding;
    }

    &:hover {
        background-color: $secondary;
        transition: background-color 200ms linear;
    }

    &:focus-visible {
        outline: none;
    }

}