@import '../utilities/variables';

ul {
    padding: 0;
    margin: 0;
}

.main-nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-nav-item {
    color: $on-primary;
    width: 100%;
    text-align: center;
    margin: 0 1em;
    border-bottom: 1px solid transparent;


    a {
        display: block;
        padding: $header-padding;
    }

    &:hover {
        // background-color: $secondary;
        border-bottom: 1px solid $accents;
        transition: border-bottom 200ms linear;
    }

    &:focus-visible {
        outline: none;
    }

}

@media (min-width: 1024px) {
    header {
        margin-bottom: 2em;
    }
}